<label>events binding using $event</label>
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
  >
<p>{{ serverName }}</p>  <!--this is called string interpolation-->

<label>using 2way binding</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>
<p>{{ serverName }}</p>
<!--Practice-->
<label>Practice</label>

<input
  type="text"
  class="form-control"
  [(ngModel)]="username"
>


<button
class="btn btn-primary"
[disabled]=" username == '' "
(click)="resetUsername()">Reset username</button>

<p>{{ username }}</p>  <!--this is called string interpolation-->

<button
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
